// declare values before importing the bootstraps sass
$primary:#ED820E;

.weather-img{
    height:30vh;
    image-rendering: pixelated;
}

#map{
    height:90vh;
}

// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss"