// declare values before importing the bootstraps sass
$primary:#ED820E;
$card-bg: rgba(255,255,255,0.7);

.weather-img{
    image-rendering: pixelated;
}

#map{
    height:90vh;
    position:relative;
    z-index:1;
}

#content{
    position: relative;
    top:6vh;
}

.map-overlay{
    position: absolute;
    top:300px;
    z-index:2;
    width:99%;
}

#weather-img-container{
    height:25vh;
}

// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss"